/*
ol {
  counter-reset: item
}

ol li {
  display: block
}

ol li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}
*/


.left {
    float: left;
    width: 50%;
    height: 90vh;
}

.right {
    float: right;
    width: 50%;
    height: 100vh;
}

.fit {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    height: 100%;
    width: 100%;
}
